@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anek Tamil', sans-serif;
}
@mixin textGrad {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: auto;

  background-color: #280028;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  filter: drop-shadow(1rem);
}

.navbar__section {
  width: 100%;
  height:20vh;
  & nav {
    width: 100%;
    height: 12rem;
    & .nav-item {
      margin: 0rem 2rem;
      & .navbarBtn {
        padding: 0.6rem 3rem;
        background-color: #ffcc70;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        border: 2px solid #ffcc70;
        border-radius: 1rem;
        letter-spacing: 1.1px;
        margin-right: 1rem;
        &:hover {
          color: #4158d0;
          border: 2px solid #4158d0;
          background-color: #fff;
        }
      }
      & .nav-link {
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
    }
  }
}

// banner section starts here

.banner__section {
  width: 100%;
  height: 80vh;
  &__info {
    width: 35rem;
    height: 40rem;
    margin: auto;
    & h2 {
      font-size: 4rem;
      font-weight: bold;
      text-align: left;
      letter-spacing: 1.5px;
      margin-bottom: 1.5rem;
      color: #fff;
    }
    &__span {
      @include textGrad;
    }
    & p {
      font-size: 1.1rem;
      font-weight: 600;
      letter-spacing: 1.5px;
      color: #fff;
    }

    &__btn {
      &__btn1 {
        padding: 0.6rem 3rem;
        background-color: #ffcc70;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        border: 2px solid #ffcc70;
        border-radius: 1rem;
        letter-spacing: 1.1px;
        margin-right: 1rem;
        &:hover {
          color: #4158d0;
          border: 2px solid #4158d0;
          background-color: #fff;
        }
      }
      &__btn2 {
        padding: 0.6rem 3rem;
        background-color: #fff;
        color: #4158d0;
        font-size: 1.5rem;
        font-weight: 700;
        border: 2px solid #4158d0;
        border-radius: 1rem;
        letter-spacing: 1.1px;
      }
    }
  }
}

// card section starts here

.card__section {
  width: 100%;
  height: 65vh;
  position: relative;
  
  &__head {
    margin: 0 auto;
    &__h2 {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
      letter-spacing: 1.5px;
      margin-bottom: 1.5rem;
      color: #fff;
      & span {
        @include textGrad;
      }
    }
  }
  &__cards {
    width: 100%;
    height: auto;
    margin:7rem 0rem;
    &__card1 {
      width: 25rem;
      height: 28rem;
      margin:1rem 2rem;
      border-radius: 2rem;
      background-color: #330000;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
      padding: 1rem;
      z-index: -1;
      
      box-shadow: -1px 2px 13px -2px  rgba(0, 0, 0, 0.75);
      & .cardContent{
        
        & img {
          margin: 1rem 1rem;
          width: 20rem;
          height: 15rem;
        }
        & h3 {
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          letter-spacing: 1.5px;
          margin-bottom: 1.5rem;
          color: #fff;
        }
        & p {
          font-size: 1.1rem;
          font-weight: 600;
          letter-spacing: 1.5px;
          color: #fff;
        }
      }
      
    }
  }
}


//project section starts here

.project__section{
  width: 100%;
  height: auto;

  & h1{
    @include textGrad;
    font-size:5rem ;
    text-align: center;
    font-weight: bold;
    letter-spacing:5.2px;
  }
  .portfolio{
    width: 100%;
    margin:7rem 0rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
    & .project__section__h2{
      color: #fff;
    font-size:2.5rem ;
    text-align: center;
    font-weight: bold;
    margin-top: 2.5rem;
    letter-spacing:5px;
    }
  }
  .portfolio__section__card{
    height: 45rem;
    width: 50rem;
    margin:0.8rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 1rem;
    background-color: #040433;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23530450' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23930093'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
filter: drop-shadow(1rem);

  }
  .portfolio-box{
    height: 350px;
    width: 450px;
    background-color:#080d1f;
    background-size: cover;
    background-position: top;
    border-radius: 1rem;
    transition: ease-in-out 5s;
  }
  .potfolio-box-1{
    background-image: url("./assests/images/project1.png");
    
  }
  .potfolio-box-2{
    background-image: url(("./assests/images/project2.png"));
  }
  .potfolio-box-3{
    background-image: url(("./assests/images/project3.png"));
  }
  .potfolio-box-4{
    background-image: url(("./assests/images/project1.png"));
  }
  .portfolio-box:hover{
    background-position: bottom;
  }
}
//animation section
 .bitcoin{
  position: relative;
  width: 100%;
  
  & .img1{
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 15%;
    left: 1%;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite ;
  }
  & .img2{
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: 25%;
    left: 90%;
    
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite ;
  }
  @keyframes fadeInFromTop{
    from { opacity:0; transform: translateY(-2rem); }
    to { opacity:1; transform: translateY(0); }
  }
  @keyframes floating {
    0% { transform: translate(0%, 0%) rotate(360deg); }
    25% { transform: translate(5%, 15%) rotate(360deg); }
    50% { transform: translate(10%, 5%) rotate(360deg); }
    75% { transform: translate(0%, 15%) rotate(360deg); }
    100% { transform: translate(0%, 0%) rotate(360deg); }
  }
}